@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "WindowsXPTahoma";
  src: url("/fonts/windows-xp-tahoma.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "XPstart";
  src: url("/fonts/FranklinGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-time: "WindowsXPTahoma", Arial, sans-serif;
  --font-start: "XPstart", Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.listAward {
  margin-top: 4em;

  p {
    font-size: 135%;
  }

  h1{
    font-size: 200%
  }

  h2 {
    font-size: 200%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: solid white 2px;
  }

  hr {
    width: 50%;
    border: solid white 2px;
    margin: 1rem auto;
  }
}

.postContainer {
  background-color: rgb(44, 58, 95);
  color: white;
  width: 100%;
  p {
    margin-left: 15%;
    margin-right: 15%;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}
